<div class="card">
    <p-table
        [value]="dataSource"
        [(selection)]="selectedCombinations"
        (selectionChange)="onSelectedCombinations($event)"
        dataKey="id"
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th>Component A</th>
                <th>Component B</th>
                <th>Compatible</th>
                <th>Price Adjustment</th>
            </tr>
        </ng-template>
        <ng-template #body let-combination>
            <tr>
                <td>
                    <p-tableCheckbox [value]="combination" />
                </td>
                <td class="font-bold">{{ combination.compA.name }}</td>
                <td>{{ combination.compB.name }}</td>
                <td>{{ combination.compatible }}</td>
                <td>{{ combination.priceAdjustment | currency:'EUR':'symbol' }}</td>
            </tr>
        </ng-template>
    </p-table>

</div>