<p-dialog 
  [(visible)]="visible" 
  header="Add Product" 
  [modal]="true" 
  [style]="{ width: '400px' }" 
  (onHide)="cancel()"
>
  <div class="space-y-6">
    <div class="flex items-center space-x-4">
      <div class="field w-full">
        <label for="name" class="block font-medium mb-1">Name</label>
        <input
          id="name"
          type="text"
          pInputText
          [(ngModel)]="formData.name"
          class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
    </div>

    <!-- Autocompletado de Categoría -->
    <div class="flex items-center space-x-4">
      <div class="field w-full">
        <label for="category" class="block font-medium mb-1">Category</label>
        <p-autocomplete
          id="category"
          [(ngModel)]="formData.category"
          [suggestions]="categories"
          field="name"
          placeholder="Select a Category"
          [dropdown]="true"
          (completeMethod)="getCategories($event)"
          class="w-full"
        ></p-autocomplete>
      </div>
    </div>

    <!-- Autocompletado de Producto -->
    <div class="flex items-center space-x-4">
      <div class="field w-full">
        <label for="product" class="block font-medium mb-1">Product</label>
        <p-autocomplete
          id="product"
          [(ngModel)]="formData.product"
          [suggestions]="products"
          field="name"
          placeholder="Select a Product"
          [dropdown]="true"
          (completeMethod)="getProducts($event)"
          class="w-full"
        ></p-autocomplete>
      </div>
    </div>

    <!-- Campo para Precio -->
    <div class="flex items-center space-x-4">
      <div class="field w-full">
        <label for="price" class="block font-medium mb-1">Price</label>
        <p-inputnumber 
          id="price" 
          [(ngModel)]="formData.basePrice" 
          [mode]="'currency'" 
          [currency]="'eur'" 
          [locale]="'es-ES'" 
          class="w-full"
        ></p-inputnumber>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="flex justify-end space-x-4">
      <p-button label="Cancel" class="p-button-text" (click)="cancel()"></p-button>
      <p-button label="Save" (click)="save()" [disabled]="!isValidForm()"></p-button>
    </div>
  </div>
</p-dialog>
