<div class="grid grid-nogutter p-4">
    <div class="col-12 lg:col-8">
      <p-card>
        <ng-template pTemplate="header">
          <h1 class="text-xl font-bold">{{ product.name }}</h1>
        </ng-template>
        <ng-template pTemplate="content">
          <p class="text-2xl font-bold text-blue-500">{{ getPrice() | currency:'EUR':'symbol' }}</p>
        </ng-template>
      </p-card>
    </div>
  
    <div class="col-12 lg:col-4">
      <p-card>
        <ng-template pTemplate="content">
          <form (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
            <div *ngFor="let component of components" class="mb-4">
              <label [for]="component.name" class="block font-medium mb-1">{{ component.name }}</label>
              @if (component.name === 'dropdown') {
                <p-autocomplete 
                  [dropdown]="true" 
                  [(ngModel)]="formData[component.name]" 
                  [inputId]="component.name"
                  name="{{ component.name }}">
                </p-autocomplete>
              } @else if (component.name === 'number') {
                <p-inputnumber 
                  [min]="0" 
                  [showButtons]="true" 
                  [(ngModel)]="formData[component.name]" 
                  [inputId]="component.name"
                  name="{{ component.name }}">
                </p-inputnumber>
              } @else {
                <input 
                  type="text" 
                  [(ngModel)]="formData[component.name]" 
                  [id]="component.name"
                  name="{{ component.name }}"
                  class="w-full border rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
              }  
            </div>      
            <p-button type="submit" label="Save Configuration"></p-button>
          </form>
        </ng-template>
    </p-card>
</div>
  