<div class="grid grid-nogutter p-4">
    <div class="col-12 lg:col-8">
      <p-card>
        <ng-template pTemplate="header">
          <h1 class="text-xl font-bold">{{ product.name }}</h1>
        </ng-template>
        <ng-template pTemplate="content">
          <p class="text-2xl font-bold">{{ getPrice() | currency:'EUR':'symbol' }}</p>
        </ng-template>
      </p-card>
    </div>
  
    <form *ngIf="categories && categories.length > 0" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
      <div *ngFor="let category of categories" class="mb-4">
        <label [for]="category.id" class="block font-medium mb-1">{{ category.name }}</label>             
        <p-autocomplete 
          [suggestions]="category.components || []"
          field="name"
          [dropdown]="true"
          [(ngModel)]="formData[category.name]" 
          [inputId]="category.id + '_autocomplete'"
          name="{{ category.name }}"
          (completeMethod)="getComponents($event, category.id!)">
        </p-autocomplete>           
      </div>      
      <p-button type="submit" label="Save Configuration"></p-button>
    </form>
    
</div>
  