<div class="card">
    <p-table
        [value]="dataSource"
        [(selection)]="selectedProducts"
        (selectionChange)="onSelectedProducts($event)"
        dataKey="id"
        [tableStyle]="{'min-width': '50rem'}">
            <ng-template #header>
                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                    <th>Name</th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="product" />
                    </td>
                    <td>{{product.name}}</td>
                </tr>
            </ng-template>
    </p-table>
</div>